* {
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    width: 50%;
    display: block;
    max-height: 100%;
    padding: .25rem;
    background-color: rgb(198, 202, 204);
    border-radius: 10px;
    overflow: hidden;
    resize: both;
}

#sectionHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#sectionHeader>form {
    display: flex;
    gap: .5rem;
}

.table-responsive {
    height: 100%;
    overflow-y: scroll;
}

.table-responsive > table {
    margin-bottom: 2.5rem;
}

#popup {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#popup>form {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.table td {
    vertical-align: middle;
}